body{
padding: 0;
margin: 0;
}
header{
    display: flex;
    height: 86px;
    width: 1460px;
    background-color: black;
    color: white;
    justify-content: space-between;
    text-align: center;
}
.navbar{
    margin-top: 20px;
}
.navbar ul{
    list-style-type: none;
   
    display: flex;
}
.navbar ul li{
    margin-right: 20px;
    font-size: 24px;
}
.left-header{
    margin-left: 20px;
    font-size: 20px;
}
.right-header{
    margin-right: 20px;
    font-size: 24px;
    margin-top: 20px;
}
.right-header a{
text-decoration: none;
color: white;
}
.Bliss-container{
 height: 167px; 
 width: 468px;
 top: 127px;
 margin-left: 71px;
}
.Bliss-container h1{
    font-family: Inria Serif;
    font-weight: 400;
    font-size: 123px;
    line-height: 147.48px;
}
.joy-peace{
width: 488px;
height: 56px;
margin-top: -50px;
margin-left: 71px;
gap: 0px;
opacity: 0px;
}
.joy-peace p{
font-family: Inria Serif;
font-size: 47px;
font-style: italic;
font-weight: 300;
line-height: 56.35px;
text-align: left;
}
 .image-container {
    position: relative;
  }
  
  .background-lp {
    width: 100%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-top: -250px;
    margin-left: 3px;
  }
  
  .overlay-image-scent {
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    margin-bottom: 0;
    margin-top: -100px;
    width: 660px; /* Adjust width as needed */
    height: 700px; /* Maintain aspect ratio */
    z-index: 1; /* Ensure the overlay image is on top */
  }
  .circle1{
width: 375px;
height: 299px;
top: 277px;
left: 689px;
gap: 0px;
opacity: 0px;
position: relative; 
margin-top: -1100px;
margin-left: 200px;

}
.text{
width: 446px;
height: 394.71px;
margin-top: -130px;
left: 744px;
gap: 0px;
opacity: 0px;
z-index: -1;
}
.text p{
font-family: Annie Use Your Telescope;
font-size: 30px;
font-weight: 400;
line-height: 50.18px;
text-align: center;
padding: 0;
margin: 0;
z-index: 1;
/* margin-top: -40px; */
}
.page2{
background: black;
width: 1460px;
height: 449px;
top: 1078px;
left: 191px;
gap: 0px;
opacity: 0px;
margin-top: 550px;
}
.page2 p{
font-family: Inria Serif;
font-size: 37px;
font-style: italic;
font-weight: 500;
line-height: 44.36px;
text-align: left;
margin-top: 40px;
margin-left: 40px;
}
.white{
    color: white;
}
.gradient1{
    /* background: linear-gradient(90deg, #9427D7 0%, #FF2775 100%); */
color: #9427D7 ;
color: #FF2775 ;
}
.test-btn{
width: 152px;
height: 46px;
top: 1186px;
left: 527px;
gap: 0px;
border-radius: 29px ;
opacity: 0px;
justify-content: center;
align-items: center;
box-shadow: 0px 5px 4px 0px #FFFEFE78;
background-color: #FF2775;
color: white;
margin-left: 700px;

}
.page2-gif{
    margin-left: 950px;
    margin-top: -200px;
}

.card-container{
    background-image: url(/perfumesite_asset/vector3.png);
    height: 1400px;
    width: 1460px;
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    
}
.new-launch-text{
width: 403px;
height: 84px;
top: 1346px;
left: 434px;
gap: 0px;
opacity: 0px;
text-wrap: nowrap;
}
.new-launch-text h1{
font-family: Impact;
font-size: 69px;
font-weight: 400;
line-height: 84.16px;
text-align: center;
margin-left: 500px;

}
.card{
    width: 904px;
height: 366px;
top: 1454px;
left: 203px;
gap: 0px;
border-radius: 16px;
opacity: 0px;

}
.card-image img{
    width: 301px;
    height: 366px;
    border-radius: 30px;
    margin-top: 180px;
    padding: 0;
    margin-left: -150px;
}
.card-title {
font-family: Inria Serif;
font-size: 32px;
font-weight: 700;
line-height: 38.37px;
text-align: left;
margin-left: -150px;

}
.view-more-btn {
width: 130px;
height: 41px;
top: 1874px;
left: 611px;
gap: 0px;
border-radius: 13px;
opacity: 0px;
box-shadow: 0px 3px 4px 0px #f3e5e5;
color: #a49f9f;
margin-left: -150px;
}
.card-container2{
    display: flex;
    margin-top: -1300px;
}
.perfect-for-him-text{
    width: 672px;
height: 72px;
top: 1962px;
left: 320px;
gap: 0px;
opacity: 0px;

}
.perfect-for-him-text h1{
    font-family: Inria Serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 71.94px;
    text-align: left;
    
}
.circle3{
    width: 565px;
height: 600px;
top: 2118px;
left: -18px;
gap: 0px;
opacity: 0px;
}
.circle3 img{
    margin-top: -200px;
    margin-left: 50px;
    height: 500px;
    width: 600px;
    margin-top: -250px;
    
}
.evoke-bg{
    background-image: url(perfumesite_asset/mulyadi-Jc-aAOo9-QY-unsplash.jpg);
margin-top: 250px;
height: 196px;
width: 1460px;
gap: 0px;
opacity: 0px;
background-size: cover;
    position: absolute;
}
.evoke-img img{
    width: 374px;
    height: 283px;
    top: 3000px;
    left: 32px;
    gap: 0px;
    opacity: 0px;
    margin-top: -100px;
    
    
}
.evoke-text{
width: 1002px;
height: 130px;
top: 2451px;
left: 241px;
gap: 0px;
opacity: 0px;
}
.evoke-text p{
font-family: Inria Serif;
font-size: 54px;
font-weight: 700;
line-height: 64.75px;
text-align: left;
color: white;
margin-left: 250px;
text-wrap: nowrap;
 margin-top: -80px; 

}

.page5{
    display: flex;
}
.scents-text{
width: 1200px;
height: 58px;
top: 2606px;
left: 406px;
gap: 0px;
opacity: 0px;


}
.scents-text p{
    font-family: Istok Web;
font-size: 40px;
font-weight: 700;
line-height: 57.58px;
text-align: left;
 background-image: linear-gradient( #F98F13 , #6512CE); 
    -webkit-background-clip: text;  /* For Safari  */
    background-clip: text;
     color: transparent; 
margin-top: 500px;
margin-left: 500px;
text-wrap: nowrap;
}
 
.page5-circle{
    position: relative;
}
.page5-circle img{
    width: 330px;
height: 280px;
top: 3000px;
left: 1056px;
gap: 0px;
opacity: 0px;
margin-top: 500px;
margin-left: 150px;

}
.page5-circle2{
    position: relative;

}
.page5-circle2 img{
    width: 514px;
height: 497px;
top: 2850px;
left: 45px;
gap: 0px;
opacity: 0px;
margin-top: 800px;
margin-left: -1300px;
}
.ek-sath-6-image{
    position: relative;
}
.ek-sath-6-image img{
    width: 749px;
height: 333px;
top: 2689px;
left: 294px;
gap: 0px;
opacity: 0px;
box-shadow: 5px 17px 18px 0px #00000059;
margin-top: 650px;
margin-left: -1100px;
}
.sun-song-container{
    position: relative;
}
.sun-song-text-animation{
    width: 1460px;
height: 180px;
top: 3055px;
gap: 0px;
opacity: 0.96px;
background: linear-gradient(90.76deg, #330C87 0%, #27242E 99.34%);
margin-top: -280px;
display: flex;
}

.sun-song-text-animation p{
    font-family: Istok Web;
    font-size: 40px;
    font-weight: 700;
    line-height: 57.58px;
    text-align: left;
    color: white;
   margin-top: 50px;
  
   
}
.anim{
    margin-top: 25px;
    margin-left: 15px;
}
.anim span::before { 
    content: "Sun Song"; 
    animation: animate infinite 5s; 
    padding-left: 10px; 
} 

@keyframes animate { 

    0% { 
        content: "Afternoon Swim"; 
    } 

    50% { 
        content: "Cactus Garden"; 
    } 
} 
.anim span{
font-family: Istok Web;
font-size: 63px;
font-weight: 700;
line-height: 90.69px;
text-align: left;
background: linear-gradient(90deg, #FFDB03 0%, #F58802 100%);
background-clip: text;
color: transparent;
text-wrap: nowrap;
}
.page6-container{
display: flex;
width: 985px;
height: 307px;
top: 3324px;
left: 147px;
gap: 0px;
opacity: 0px;
margin-left: 200px;
}
.page6-card img{
    height: 300px;
    width: 246.25px;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 60px;
}
.card6-tittle{
width: 117px;
height: 76px;
top: 3638px;
left: 696px;
gap: 0px;
opacity: 0px;

}
.card6-tittle h2{
    font-family: Inria Serif;
    font-size: 69px;
    font-weight: 700;
    line-height: 38.37px;
    text-align: left;
    margin-top: 0;
}
.price{
    font-family: Inria Serif;
font-size: 32px;
font-weight: 700;
line-height: 38.37px;
text-align: left;

}
.rating{
    width: 151px;
height: 40px;
top: 3776px;
left: 421px;
gap: 0px;
opacity: 0px;

display: flex;
}

.rating span{
    color: yellow;
    width: 30px;
height: 40px;
font-size: 40px;
}
.last-white-container{
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: -1100px;
    margin-top: 650px;
}
.heading1{
    color: #27242E;
    font-size: 25px;
    font-weight: bold;
}
.descp{
    font-size: 23px;
    margin-top: 25px;
}
.last-container-text{
height: 91px;
width: 291px;
padding: 10px;
}
.heading-middle{
    height: 91px;
    width: 203px;
    padding: 10px;
    margin-left: 120px;
    margin-right: 120px;
}
.footer{
    background-color: #FAB8D8;
    display: flex;
    height: 480px;
     margin-top: 600px;
    /* margin-left: -1300px; */
  }
  .footer-content{
    padding-top: 102px;
    padding-left: 96px;
    /* width: 100%; */
  }
.footer-head{
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}
 .subcontent{
    padding: 5px;
    font-size: 25px;
 } 
 .social-platforms{
    margin-left: 100px;
 }  
 .subscribe{
    display: flex;
 }
 .whitebox{
    background-color: white;
    height: 28px;
    width: 220px;

 }
 .subscribebtn{
    height: 30px;
    width: 30px;
    background-color: #27242E;
    color: white;
    text-decoration: none;
 }
 .iconimg{
    display: flex;
    margin-top: 50px;
 }
 .icon{
 padding-left: 100px;
 padding-top: 178px;   
 }
 .subsbtn{
    padding-left: 10px;
 }
 .i1{
    padding: 5px;
 }
 .checked{
    color: orange;
 }
 .social-platforms{
    margin-top: 180px;
 }

   
   